<!-- hotel/templates/hotel/contact.html -->
{% extends 'mangrove/base.html' %}

{% block title %}
Contact Us - Kadzuhoni Mangrove Conservation
{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<p>Harrison Mwayele Mbitha - Chairperson:<a href="tel:+254721407793">+254-721-407-793</a></p>
<p>Salim Kahindi Baya - Secretary: <a href="tel:+254790586207">+254-790-586-207</a></p>
<p>E-mail: <a href="mailto:kadzuhonimangrove@gmail.com">kadzuhonimangrove@gmail.com</a></p>
{% endblock %}
