<!-- hotel/templates/hotel/contact.html -->
{% extends 'mangrove/base.html' %}

{% block title %}
Donate to our Cause|Kadzuhoni Mangrove Conservation
{% endblock %}

{% block content %}
<header class="bg-success text-white text-center py-5">
    <div class="container">
        <h1>Donate to our Cause</h1>
        <p class="lead">
            Your financial support is crucial to our work. Donations help fund reforestation projects, 
            community programs, and ongoing research, ensuring that we can continue to protect and 
            restore mangrove forests.
        </p>
    </div>
</header>
{% comment %} <h1>Donate to our Cause</h1>
<p>
    Your financial support is crucial to our work. Donations help fund reforestation projects, 
    community programs, and ongoing research, ensuring that we can continue to protect and 
    restore mangrove forests.
</p> {% endcomment %}
<p>How to donate:</p>
<ul>
    <li>Go to M-PESA menu</li>
    <li>Select "Lipa na M-PESA"</li>
    <li>Select Pay bill </li>
    <li>Enter Business number <span class="badge bg-secondary fs-6">400222</span></li> <br />
    <li>Enter account number <span class="badge bg-secondary fs-6">850115</span></li>
    <li>Enter your M-PESA pin</li>
    <li>Press OK</li>
</ul>
<p>Thank you for your donation to support mangrove ecosystem conservation. My GOD bless you.</p>
<h3>For Bank transfer contact us for details:</h3>
<p>Harrison Mwayele Mbitha - Chairperson:<a href="tel:+254721407793">+254-721-407-793</a></p>
<p>Salim Kahindi Baya - Secretary: <a href="tel:+254790586207">+254-790-586-207</a></p>
<p>E-mail: <a href="mailto:kadzuhonimangrove@gmail.com">kadzuhonimangrove@gmail.com</a></p>
{% endblock %}
