<!-- hotel/templates/hotel/contact.html -->
{% extends 'mangrove/base.html' %}

{% block title %}
Partner with Us - Kadzuhoni Mangrove Conservation
{% endblock %}

{% block content %}
<!-- Page Header -->
<header class="bg-success text-white text-center py-5">
    <div class="container">
        <h1>Partner with Us.</h1>
        <p class="lead">
            We believe in the power of collaboration. If you are an organization, business, 
            or institution interested in partnering with us, let's work together to amplify 
            our impact and create lasting change.
        </p>
    </div>
</header>

<h3>For more information contact:</h3>
<p>Harrison Mwayele Mbitha - Chairperson:<a href="tel:+254721407793">+254-721-407-793</a></p>
<p>Salim Kahindi Baya - Secretary: <a href="tel:+254790586207">+254-790-586-207</a></p>
<p>E-mail: <a href="mailto:kadzuhonimangrove@gmail.com">kadzuhonimangrove@gmail.com</a></p>
{% endblock %}
